 body {padding: 0; margin: 0;}
input{
    color: #bab7b1;
    background-color: rgba(255,255,255,0.4);
    font-size: 18px;
    border: 1px #FFF dotted;
    width: 320px;
} 

input[type="range"]{
    
    width: 200px;
    
}

#print{
     position: absolute;
    bottom:  50px;
    right: 50px;
    
}


iframe{
    width: 100%;
    max-width: 1173px;
    height: 800px;
    border: 0px;
     margin: 0 auto;
    overflow: hidden;
}

#all{
     margin: 0 auto;
    width: 1173px;
    height: 800px;
    overflow: hidden;
}

input[type="range"]:nth-child(even){
   width: 100px; 
}
 @media print{
   input {
     display:none;
   }
     
     iframe{
       width: 1120px;
         height: 740px;
        
     }
 }

#cameraC{
    margin: 0 auto;
    position: absolute;
   bottom: 10%;
    right: 30%;
}